@charset "UTF-8";

/*em HTML a # é um ID (identificador) e em CSS é uma hashtag
Tudo em HTML é class e em CSS é ponto (.).
*/

body {
    background-color: rgb(151, 253, 219);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(10, 175, 10);
}

h1#principal {
    text-align: center;
    background-color: rgb(10, 175, 10);
    color: white;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: green;
}
.intermediario {
    color: rgb(238, 234, 0);
}
.avançado {
    color: rgb(235, 3, 3);
}

